html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }
}

.full {
  height: 100vh;

  &.with-buttons {
    height: calc(100vh - 2.5rem);
  }
}

.half {
  height: 50vh;
}

.quarter {
  height: 25vh;
}

.fixed-buttons {
  @extend .center, .container;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 2.5rem;
  background-color: #80cbc4;

  &>div {
    flex-grow: 1;
    text-align: center;
  }
}
