<div class="full center column container">
  <a
    class="top-right clickable"
    [routerLink]="['/settings']"
  >
    <img
      src="assets/svg/gear.svg"
      alt="Settings icon"
      class="icon"
    >
  </a>

  <div class="w-100 center container space-evenly grow">
    <div class="desktop-title center column container grow">
      <img
        src="assets/svg/logo.svg"
        alt="Tic Tac Go logo"
        class="logo"
      >
    </div>

    <div class="h-100 center column container space-evenly grow">
      <div class="mobile-title center column container">
        <img
          src="assets/svg/logo.svg"
          alt="Tic Tac Go logo"
          class="logo"
        >
      </div>

      <div class="center container grow">
        <ng-container *ngTemplateOutlet="button; context: {
          enabled: (isConnected | async),
          route: '/lobby',
          queryParams: { match: MatchType.Human },
          text: 'Quick Play',
          disabledText: 'OFFLINE'
        }"></ng-container>
      </div>

      <div class="center container grow">
        <ng-container *ngTemplateOutlet="button; context: {
          enabled: (isConnected | async),
          route: '/join',
          text: 'Play with Friend',
          disabledText: 'OFFLINE'
        }"></ng-container>
      </div>

      <div class="center container grow">
        <ng-container *ngTemplateOutlet="button; context: {
          enabled: true,
          route: '/lobby',
          queryParams: { match: MatchType.Bot },
          text: 'Offline Game'
        }"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template
  #button
  let-enabled="enabled"
  let-route="route"
  let-queryParams="queryParams"
  let-text="text"
  let-disabledText="disabledText"
>
  <ng-container *ngIf="enabled else disabled">
    <a
      class="button"
      [routerLink]="[route]"
      [queryParams]="queryParams"
    >{{ text }}</a>
  </ng-container>

  <ng-template #disabled>
    <div class="button center column container">
      <span class="strikethrough">{{ text }}</span>
      <small>{{ disabledText }}</small>
    </div>
  </ng-template>
</ng-template>
