<div class="full home center container">
  <a
    class="top-right clickable"
    [routerLink]="['/settings']"
  >
    <img
      src="assets/svg/gear.svg"
      alt="Settings icon"
      class="icon"
    >
  </a>

  <div class="title center column container">
    <img
      src="assets/svg/logo.svg"
      alt="Tic Tac Go logo"
      class="logo"
    >
  </div>

  <div class="center column container">
    <div class="quarter center container">
      <div>
        <ng-container *ngIf="(isConnected | async) else notConnected">
          <a
            class="button"
            [routerLink]="['/lobby']"
            [queryParams]="{match: MatchType.Human}"
          >Online Game</a>
        </ng-container>

        <ng-template #notConnected>
          <div class="button center column container">
            <span class="strikethrough">Online Game</span>
            <small>OFFLINE</small>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="quarter center container">
      <div>
        <a
          class="button"
          [routerLink]="['/lobby']"
          [queryParams]="{match: MatchType.Bot}"
        >Solo Game</a>
      </div>
    </div>
  </div>
</div>
