<div class="title half center column container">
  <div>
    <div class="title-1">Tic</div>
    <div class="title-2">Tac</div>
    <div class="title-3">on the</div>
    <div class="title-4">Go!</div>
  </div>
</div>

<div class="quarter">
  <div class="line">
    <div class="color"></div>
  </div>
  <div class="button center container" (click)="vsHuman()">VS Human</div>
</div>

<div class="quarter">
  <div class="line">
    <div class="color"></div>
  </div>
  <div class="button center container" (click)="vsBot()">VS Bot</div>
</div>
