@import '../../../styles/flex';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.mobile-title {
  padding: 3rem 0;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.desktop-title {
  display: none;

  @include media-breakpoint-up(sm) {
    display: inherit;
  }
}
