.title {
  font-size: 1.5em;
  font-weight: bold;
}

.title-2 {
  margin-left: 10px;
}

.title-3 {
  margin-left: 20px;
}

.title-4 {
  margin-left: 55px;
}

$line-padding: 5px;
$line-height: 1px;

.line {
  padding: $line-padding;

  .color {
    width: 100%;
    height: $line-height;
    background-color: #CCC;
  }
}

.button {
  height: calc(100% - 2 * #{$line-padding} - #{$line-height});
  width: 100%;
}
