<ng-container *ngTemplateOutlet="view; context: { state: (gameService.gameState | async) }"></ng-container>

<ng-template #view let-state="state">
  <div class="full center column container with-buttons" [ngClass]="{ 'with-buttons': state.ended }">
    <div>VS {{ state.matchType | titlecase}}</div>
    <div>You are {{ state.playerMark }}</div>
    <div #renderSpace></div>
    <div>
      <ng-container *ngIf="!state.ended; else gameOver">{{ state.playerTurn ? 'Your' : 'Other Player\'s' }} Turn
      </ng-container>
      <ng-template #gameOver>{{ state.playerWon ? 'You Won' : 'You Lost' }}</ng-template>
    </div>
  </div>

  <div *ngIf="state.ended" class="fixed-buttons">
    <div (click)="goHome()">Home</div>
  </div>
</ng-template>
