<div class="center column container">
  <a
    class="top-right clickable"
    [routerLink]="['/']"
  >
    <img
      src="assets/svg/home.svg"
      alt="Settings icon"
      class="icon"
    >
  </a>

  <div class="setting">
    <h3>Player Color</h3>
    <div class="center row grid">
      <ng-container *ngTemplateOutlet="colorSquare; context: { color: '#000000' }"></ng-container>
      <ng-container *ngTemplateOutlet="colorSquare; context: { color: '#64ffda' }"></ng-container>
      <ng-container *ngTemplateOutlet="colorSquare; context: { color: '#1565c0' }"></ng-container>
      <ng-container *ngTemplateOutlet="colorSquare; context: { color: '#4caf50' }"></ng-container>
      <ng-container *ngTemplateOutlet="colorSquare; context: { color: '#d32f2f' }"></ng-container>
      <ng-container *ngTemplateOutlet="colorSquare; context: { color: '#fdd835' }"></ng-container>
      <ng-container *ngTemplateOutlet="colorSquare; context: { color: '#ff9800' }"></ng-container>
      <ng-container *ngTemplateOutlet="colorSquare; context: { color: '#f06292' }"></ng-container>
      <ng-container *ngTemplateOutlet="colorSquare; context: { color: '#795548' }"></ng-container>
    </div>
  </div>

  <div class="setting">
    <h3>Solo Difficulty</h3>
    <div class="center row grid">
      <ng-container
        *ngTemplateOutlet="difficultyLevel; context: { level: Difficulty.Easy, title: 'Easy', subtitle: 'Makes Mistakes' }"
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="difficultyLevel; context: { level: Difficulty.Normal, title: 'Normal', subtitle: 'Some Mistakes' }"
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="difficultyLevel; context: { level: Difficulty.Hard, title: 'Hard', subtitle: 'No Mistakes' }"
      ></ng-container>
    </div>
  </div>
</div>

<ng-template
  #colorSquare
  let-color="color"
>
  <div
    class="color clickable"
    [class.selected]="playerColor === color"
    [style.background-color]="color"
    (click)="changeColor(color)"
  ></div>
</ng-template>

<ng-template
  #difficultyLevel
  let-level="level"
  let-title="title"
  let-subtitle="subtitle"
>
  <div
    class="level clickable"
    [class.selected]="difficulty === level"
    (click)="changeDifficulty(level)"
  >
    <div>{{ title }}</div>
    <div>{{ subtitle }}</div>
  </div>
</ng-template>
