$color__primary: #64ffda;
$color__primary_dark: #14cba8;
$color__secondary: #8d8d8d;
$color__bground: #bdbdbd;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
