.full {
  height: 100%;
}

.strikethrough {
  text-decoration: line-through;
}

.clickable {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.primary {
  background-color: $color__primary;

  &.dark {
    background-color: $color__primary_dark;
  }
}

.secondary {
  background-color: $color__secondary;
}

.pill {
  border-radius: 3rem;
  padding: 0.5rem 2rem;
}

.logo {
  width: 200px;
  height: 200px;

  @include media-breakpoint-up(sm) {
    width: 400px;
    height: 400px;
  }
}

.top-right {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  .icon {
    width: 3rem;
    height: 3rem;
  }
}

.text {
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-size: 1.5rem;
  width: 10rem;
  @extend .pill;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}
