.container {
  display: flex;
  font-size: 1.5rem;

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }
}
